* {
	background-color: #A9DAF2;
}

.calculadora {
	width: 240px;
	margin: 50px auto;
	border: 2px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 5px #ccc;
	background-color: #25354F;
}

.display {
	height: 70px;
	padding: 5px;
	background-color: #25354F;
}

.display input[type="text"] {
	width: 100%;
	height: 100%;
	border: none;
	font-size: 18px;
	text-align: right;
	background-color: #25354F;
	color: #FFFFFF;
}

.buttons {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 60px 60px 60px 60px 60px;
	grid-auto-flow: row dense;
}

.buttons button {
	font-size: 18px;
	border: none;
	box-shadow: 0 0 1px #FFFFFF;
	cursor: pointer;
}

.numero {
	background-color: #25354F;
	color: #596E86;
}

.operador {
	background-color: #1F8096;
	color: #FFFFFF;
}

.resultado {
	background-color: #E48020;
	color: #FFFFFF;
	grid-row: span 2;
}

.cero {
	background-color: #25354F;
	color: #596E86;
	grid-column: span 2;
}